#
# Lobo overlay for rpi5_custom_car.
#
# This file is copied into:
#   /vendor/etc/init/hw/init.rpi5.rc
#
# Upstream vendor init often only imports init.rpi5.usb.rc. We import our
# vendor/etc/init/*.rc stubs so init starts calculatord and temperature_monitord.
#

import /vendor/etc/init/calculator.rc
import /vendor/etc/init/temperature_monitor.rc
import /vendor/etc/init/hw/init.rpi5.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi5 --early

on late-fs
    mount_all /vendor/etc/fstab.rpi5 --late

